{% extends 'base.html' %}
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body class="flex items-center justify-center">
    
    {% block content %}

        <div class="flex items-center justify-center w-1/3 h-40 mx-auto border border-white rounded-xl">
            <ul>
                {% for topico in topicos %}
                    <li class="flex flex-row hover:underline"><span class="mr-2"><img class="w-7 h-7" src="{{ topico.icon_topico.url }}" alt=""></span><a target="_blank" href="{% url 'exibir_topico' topico.id %}">{{ topico.nome_topico }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% endblock %}

</body>
</html>